
  <div class="row p-3">
        <div class="col">
          <h5>buscar</h5>
          <input type="text" class="form-control" placeholder="Buscar Gif">
        </div>
  </div>
  <hr>

  <div class="row">
    <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nam placeat quo! Numquam sequi incidunt recusandae asperiores perferendis odit? Ex repellendus, odit sint dicta laudantium voluptatibus natus. Aspernatur, neque natus.
        Labore harum ducimus repellat! A, dolorem veniam? Animi dolorum aperiam, aspernatur ratione aliquid quia. Similique voluptates sequi nesciunt expedita. Maiores laudantium cupiditate commodi autem non totam quibusdam quisquam, repellendus temporibus!
    </div>
  </div>

